<div class="content">
    <div class="ui breadcrumb">
       <div class="active section">Home</div>
    </div>
    <center><div class="fotorama" data-autoplay="true" data-width="1200" data-height="1000">
        <%= image_tag("ysl-lipgloss.jpg") %>
        <%= image_tag("fenty-matte-lipstick.jpg") %>
        <%= image_tag("guerlain-lipgloss.jpg") %>
        <%= image_tag("tom-ford-lipstain.jpg") %>
    </div></center>
    <br>
    <br>
    <h1 style="text-align: center; font-size: 80px;">Brands</h1>
    <center><div style="margin-top: -160px;" class="brand-names">
    <div style="margin: 198px 198px;" class="ui four cards">
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("guerlain.png", class: "guerlain") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("fenty-beauty.png", class: "fenty") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("tom-logo.png", class: "tom-ford") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("yves-saint-laurent.png", class: "ysl") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("colourpop-logo-font.png", class: "coloupop") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("Wet_n_Wild_Beauty_logo.png", class: "wnw") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("elf_Cosmetics_logo.png", class: "elf") %>
    </div>
    </div>
    <div style="background-color: #bd1965; height: 300px; width: 300px;" class="card">
    <div class="image">
      <%= image_tag("NYX_logo.png", class: "nyx") %>
    </div>
    </div>
    </div>
    </div></center>
</div>